/* ------------------------------------
   0.0 Estilos heredados de Styles.css
------------------------------- ------- */

.navbar-brand img {
    background-color: white;
    height: 29px;
    margin-left: 7px;
}

.input-validation-error {
    /*border: 1px solid #e14430 !important;*/
}

/*.field-validation-error {
    background: #b94a48;
    color: #ffffff;
    font-size: 12px;
    border-radius: 3px;
    padding: 2px 4px;
    font-weight: bold;
}*/

.field-validation-error {
    border-color: #ffeec5;
    background-color: #fff7e3;
    color: #ff785a;
    border-radius: 4px;
}

.k-radio:checked + .k-radio-label:after {
    top: 2px !important;
    left: 2px !important;
}

.k-grid-filter.k-state-active {
    background-color: #D6D4D4 !important;
}

/* ------------------------------------
   1.0 Estilos de proposito general
------------------------------- ------- */
.upper {
    text-transform: uppercase;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}

.row.row-space-0 {
    margin: 0;
}

.row.row-space-2 {
    margin: 0 -1px;
}

.row.row-space-4 {
    margin: 0 -2px;
}

.row.row-space-6 {
    margin: 0 -3px;
}

.row.row-space-8 {
    margin: 0 -4px;
}

.row.row-space-10 {
    margin: 0 -5px;
}

.row.row-space-12 {
    margin: 0 -6px;
}

.row.row-space-14 {
    margin: 0 -7px;
}

.row.row-space-16 {
    margin: 0 -8px;
}

.row.row-space-18 {
    margin: 0 -9px;
}

.row.row-space-18 {
    margin: 0 -10px;
}

.row.row-space-22 {
    margin: 0 -11px;
}

.row.row-space-24 {
    margin: 0 -12px;
}

.row.row-space-26 {
    margin: 0 -13px;
}

.row.row-space-28 {
    margin: 0 -14px;
}

.row.row-space-30 {
    margin: 0 -15px;
}

.row.row-space-0 > [class*="col-"] {
    padding: 0;
}

.row.row-space-2 > [class*="col-"] {
    padding: 0 1px;
}

.row.row-space-4 > [class*="col-"] {
    padding: 0 2px;
}

.row.row-space-6 > [class*="col-"] {
    padding: 0 3px;
}

.row.row-space-8 > [class*="col-"] {
    padding: 0 4px;
}

.row.row-space-10 > [class*="col-"] {
    padding: 0 5px;
}

.row.row-space-12 > [class*="col-"] {
    padding: 0 6px;
}

.row.row-space-14 > [class*="col-"] {
    padding: 0 7px;
}

.row.row-space-16 > [class*="col-"] {
    padding: 0 8px;
}

.row.row-space-18 > [class*="col-"] {
    padding: 0 9px;
}

.row.row-space-20 > [class*="col-"] {
    padding: 0 10px;
}

.row.row-space-22 > [class*="col-"] {
    padding: 0 11px;
}

.row.row-space-24 > [class*="col-"] {
    padding: 0 12px;
}

.row.row-space-26 > [class*="col-"] {
    padding: 0 13px;
}

.row.row-space-28 > [class*="col-"] {
    padding: 0 14px;
}

.row.row-space-30 > [class*="col-"] {
    padding: 0 15px;
}

.semi-bold {
    font-weight: 600;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-visible {
    overflow: visible !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-x-visible {
    overflow-x: visible !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.overflow-y-visible {
    overflow-y: visible !important;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.m-auto {
    margin: 0 auto !important;
}

.m-0 {
    margin: 0px !important;
}

.m-1 {
    margin: 1px !important;
}

.m-2 {
    margin: 2px !important;
}

.m-3 {
    margin: 3px !important;
}

.m-4 {
    margin: 4px !important;
}

.m-5 {
    margin: 5px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-25 {
    margin: 25px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-35 {
    margin: 35px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-1 {
    margin-top: 1px !important;
}

.m-t-2 {
    margin-top: 2px !important;
}

.m-t-3 {
    margin-top: 3px !important;
}

.m-t-4 {
    margin-top: 4px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-r-0 {
    margin-right: 0px !important;
}

.m-r-1 {
    margin-right: 1px !important;
}

.m-r-2 {
    margin-right: 2px !important;
}

.m-r-3 {
    margin-right: 3px !important;
}

.m-r-4 {
    margin-right: 4px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-1 {
    margin-bottom: 1px !important;
}

.m-b-2 {
    margin-bottom: 2px !important;
}

.m-b-3 {
    margin-bottom: 3px !important;
}

.m-b-4 {
    margin-bottom: 4px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-l-0 {
    margin-left: 0px !important;
}

.m-l-1 {
    margin-left: 1px !important;
}

.m-l-2 {
    margin-left: 2px !important;
}

.m-l-3 {
    margin-left: 3px !important;
}

.m-l-4 {
    margin-left: 4px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.p-0 {
    padding: 0px !important;
}

.p-1 {
    padding: 1px !important;
}

.p-2 {
    padding: 2px !important;
}

.p-3 {
    padding: 3px !important;
}

.p-4 {
    padding: 4px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15, .wrapper {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-35 {
    padding: 35px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-1 {
    padding-top: 1px !important;
}

.p-t-2 {
    padding-top: 2px !important;
}

.p-t-3 {
    padding-top: 3px !important;
}

.p-t-4 {
    padding-top: 4px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-t-35 {
    padding-top: 35px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-r-0 {
    padding-right: 0px !important;
}

.p-r-1 {
    padding-right: 1px !important;
}

.p-r-2 {
    padding-right: 2px !important;
}

.p-r-3 {
    padding-right: 3px !important;
}

.p-r-4 {
    padding-right: 4px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-r-35 {
    padding-right: 35px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-b-1 {
    padding-bottom: 1px !important;
}

.p-b-2 {
    padding-bottom: 2px !important;
}

.p-b-3 {
    padding-bottom: 3px !important;
}

.p-b-4 {
    padding-bottom: 4px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-b-35 {
    padding-bottom: 35px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.p-l-0 {
    padding-left: 0px !important;
}

.p-l-1 {
    padding-left: 1px !important;
}

.p-l-2 {
    padding-left: 2px !important;
}

.p-l-3 {
    padding-left: 3px !important;
}

.p-l-4 {
    padding-left: 4px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-l-35 {
    padding-left: 35px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.f-s-8 {
    font-size: 8px !important;
}

.f-s-9 {
    font-size: 9px !important;
}

.f-s-10 {
    font-size: 10px !important;
}

.f-s-11 {
    font-size: 11px !important;
}

.f-s-12 {
    font-size: 12px !important;
}

.f-s-13 {
    font-size: 13px !important;
}

.f-s-14 {
    font-size: 14px !important;
}

.f-s-15 {
    font-size: 15px !important;
}

.f-s-16 {
    font-size: 16px !important;
}

.f-s-17 {
    font-size: 17px !important;
}

.f-s-18 {
    font-size: 18px !important;
}

.f-s-19 {
    font-size: 19px !important;
}

.f-s-20 {
    font-size: 20px !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pull-none {
    float: none !important;
}

.f-w-100 {
    font-weight: 100 !important;
}

.f-w-200 {
    font-weight: 200 !important;
}

.f-w-300 {
    font-weight: 300 !important;
}

.f-w-400 {
    font-weight: 400 !important;
}

.f-w-500 {
    font-weight: 500 !important;
}

.f-w-600 {
    font-weight: 600 !important;
}

.f-w-700 {
    font-weight: 700 !important;
}

/* ------------------------------------
   2.0 Ajustes de plantilla Pixel Admin
------------------------------- ------- */

/* Logo  */
.logo-navbar a {
    padding: 0 14px 0 0 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}

/* Login */
.signin-form {
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6) !important;
    border-radius: 0 10px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    padding-bottom: 22px !important;
}

    .signin-form input[type="submit"] {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
        margin-top: 5px;
    }

.signin-info {
    border-radius: 10px 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}

.signin-form-icon {
    color: black !important;
}

#page-signin-bg .overlay {
    background: rgba(0,0,0,0.3);
}

#wrapper {
    -webkit-animation-delay: 0.1s;
}

/* ------------------------------------
   3.0 Page Loader
-------------------------------------- */

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.spinner {
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
}

/* ------------------------------------
   4.0 Control Panel
-------------------------------------- */
.area-void {
    display: inline-block;
    width: 364px;
}

.area {
    display: inline-block;
}

    .area .box {
        width: 350px;
        background-color: white;
        background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#F2F2F2));
        background-image: -webkit-linear-gradient(top,white,#F2F2F2);
        background-image: -moz-linear-gradient(top,white,#F2F2F2);
        background-image: -o-linear-gradient(top,white,#F2F2F2);
        background-image: linear-gradient(to bottom,white,#F2F2F2);
        border: 1px solid #CCC;
        border-bottom: 1px solid #BBB;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        padding: 10px 15px 8px;
        margin: .5em;
        position: relative;
        min-height: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        text-align: left;
    }

        .area .box:hover {
            background-image: linear-gradient(to bottom,#eee,#F2F2F2);
            color: #3690e6;
        }


        .area .box div {
            display: inline-block;
            vertical-align: middle;
        }

    .area.disable {
        opacity: 0.3;
        display: inline-block;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
    }

        .area.disable a {
            opacity: 0.3 !important;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            pointer-events: none;
            cursor: default;
        }

    .area h3 {
        margin-top: 10px;
    }

        .area h3 div {
            width: 200px;
            line-height: 70%;
            font-size: 0.9em;
        }

#page-cpanel-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

    #page-cpanel-bg img {
        width: 100%;
        height: 100%;
    }



/* ------------------------------------
   5.0 General Effects
-------------------------------------- */

.effect6 {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

    .effect6:before, .effect6:after {
        content: "";
        position: absolute;
        z-index: -1;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        border-radius: 100px / 10px;
    }

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }

/* ------------------------------------
   6.0 Notifications
-------------------------------------- */
.k-notification {
    border: 0;
}
/* Info template */
.k-notification-info.k-group {
    background: rgba(0%,0%,0%,1);
    color: #fff;
}

.k-widget.k-notification.k-notification-info,
.k-widget.k-notification.k-notification-error,
.k-widget.k-notification.k-notification-success,
.k-widget.k-notification.k-notification-warn {
    border-radius: 10px;
}

.notification-wrapper div.image {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    text-shadow: 0px 2px 1px #fff;
    width: 48px;
}

.notification-wrapper div.message {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px 0 5px;
    text-shadow: 0px 2px 1px #fff;
    text-align: left;
}

.notification-wrapper div.exit {
    display: table-cell;
    width: 26px;
    font-size: 19px;
    padding-top: 8px;
    cursor: pointer;
}

.notification-wrapper {
    width: 320px;
    height: 80px;
    color: #4d4d4d;
    border-radius: 10px;
    display: table;
}

.infoNotification {
    background: -webkit-linear-gradient(top, rgba(221,241,249,1) 0%,rgba(160,216,239,1) 100%);
}

.successNotification {
    background-image: -webkit-linear-gradient(top,#ECF8EE,#c1e8c7);
}

.errorNotification {
    background-image: -webkit-linear-gradient(top,#FFF0ED,#FFCCC1);
}

.warnNotification {
    background-image: -webkit-linear-gradient(top,#FFF0E0,#FFCC99);
}

.k-popup {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* ------------------------------------
   7.0 kendo ui upload 
-------------------------------------- */
.k-file-progress {
    color: #0d7fdd;
}

.k-file-success {
    color: #479b49;
}

    .k-file-success .k-progress {
        color: #479b49;
        background-color: #c8e6c9;
    }

    .k-file-success a, .k-file-success a:hover, .k-file-success a:visited {
        color: #479b49;
        text-decoration: underline;
    }

.k-dropzone .k-upload-status, .k-dropzone em, .k-other-month, .k-other-month .k-link, .k-slider .k-draghandle, .k-state-disabled, .k-state-disabled .k-button, .k-state-disabled .k-link, .k-tile-empty strong {
    color: #999;
}

/* ------------------------------------
   8.0 kendo textbox
-------------------------------------- */

.k-textbox {
    width: 100% !important;
}

input.k-textbox:hover:disabled,
textarea.k-textbox:hover:disabled {
    background-color: #eee;
    color: #000;
    border-color: #ccc;
}

/* ------------------------------------
   9.0 kendo grid
-------------------------------------- */

.k-widget.k-grid th:not([enable-menufilter]) a.k-grid-filter {
    display: none;
}


/*
    Ajustes pixel admin
*/

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

#main-wrapper, #content-wrapper {
    background: rgb(246, 246, 246);
}

#content-wrapper {
    min-height: 1200px;
}

@media (min-width: 480px) {
    #main-wrapper {
        padding-left: 0px;
        margin-left: 56px;
    }
}

@media (min-width: 768px) {
    #main-wrapper, .mme #main-wrapper {
        padding-left: 0px;
        margin-left: 240px;
    }

    .mmc #main-wrapper {
        padding-left: 0px;
        margin-left: 56px;
    }
}

#main-wrapper {
    width: auto;
}

#main-menu-bg {
    display: none;
}

#loader {
    background: rgb(246, 246, 246);
    position: absolute;
    z-index: 100;
}

#main-menu {
    background-color: #23272d;
}



/*
Ajuste estilos ventana 
*/
.k-window-titlebar.k-header {
    background: #f8f8f8;
    padding: 12px 20px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    z-index: 9999;
    display: inline-table;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
}

    .k-window-titlebar.k-header span.k-window-title {
        margin: 0;
        line-height: 1.42857143;
        font-size: 18px;
        position: inherit !important;
        left: inherit !important;
        right: inherit !important;
        overflow: inherit !important;
        cursor: default !important;
        font-weight: 500;
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

.k-window-titlebar .k-window-actions {
    top: 9px;
    right: 20px;
}

/*
Ajuste estilos ventana administracion de pisos
*/
.modal-xl {
    width: 90% !important;
}

/*
Logo en barra de navegación de la institución
*/
#main-navbar .navbar-brand div {
    background: none;
    top: 8px;
}

    #main-navbar .navbar-brand div img {
        background: none;
    }

    #main-navbar .navbar-brand div, #main-navbar .navbar-brand div img {
        height: 24px;
        width: 23px;
        margin-left: 4px;
    }

.theme-default #main-navbar .navbar-brand div, .theme-default .demo-logo {
    background: none;
}

/********************************************
Estilo 2 para selección del usuario
*********************************************/
body.user-theme-2 {
    background: #dfe4e6 !important;
}

.theme-default.user-theme-2 #main-navbar .navbar-header {
    background: #4d5e76;
}

.theme-default.user-theme-2 #main-navbar {
    background: #4d5e76;
}

    .theme-default.user-theme-2 #main-navbar .navbar-collapse {
        background: #4d5e76;
    }

    .theme-default.user-theme-2 #main-navbar #main-menu-toggle {
        background: #4d5e76;
        color: white;
    }

    .theme-default.user-theme-2 #main-navbar .navbar-brand,
    .theme-default.user-theme-2 #main-navbar .navbar-header a {
        color: white;
    }

.fa.fa-bars {
    color: white;
}

.theme-default.user-theme-2 #main-navbar .nav > li > a {
    color: white;
}

.theme-default.user-theme-2 #main-navbar .nav .urog-name {
    color: white;
}

.theme-default.user-theme-2 #main-navbar .dropdown.open > a {
    color: white;
    background: #374354;
}

.theme-default.user-theme-2 #main-navbar .dropdown-menu > li > a {
    color: white;
}

.theme-default.user-theme-2 #main-navbar #main-menu-toggle .navbar-icon:after {
    color: #fff;
}

.theme-default.user-theme-2 #main-navbar #main-menu-toggle .fa:before {
    color: #fff;
}

@media (min-width: 768px) {
    .theme-default.user-theme-2 #main-navbar .navbar-header {
        background: #4d5e76;
    }

    .theme-default.user-theme-2.mmc #main-navbar .navbar-header {
        background: #4d5e76;
    }

    .theme-default.user-theme-2 #main-navbar .navbar-collapse {
        background: #4d5e76;
    }

    .theme-default.user-theme-2 #main-navbar .navbar-nav > li > a:hover {
        background: #374354;
    }

    .theme-default.user-theme-2 #main-navbar .navbar-nav > li.dropdown.open > a {
        color: white;
        background: #374354;
    }

    .theme-default.user-theme-2 #main-navbar .right > .navbar-nav > li {
        border-left: none;
        border-right: none;
    }

    .theme-default.user-theme-2 #main-navbar .dropdown-menu > li > a {
        color: #555;
    }
}

/*menu de estilo 1*/
.theme-default.user-theme-2 #main-menu {
    background-color: #dfe4e6;
}

    .theme-default.user-theme-2 #main-menu .mm-dropdown > ul,
    .theme-default.user-theme-2 #main-menu .mmc-dropdown-open-ul {
        background: #D4D9DA;
    }

        .theme-default.user-theme-2 #main-menu .mmc-dropdown-open-ul a,
        .theme-default.user-theme-2 #main-menu .navigation a {
            color: #626b7a;
        }

    .theme-default.user-theme-2 #main-menu li:not(.mm-dropdown).active > a {
        background: #4d5e76;
        color: white;
    }

.theme-default.user-theme-2 #menu-content-demo .text-bg {
    color: #23272d;
}

.theme-default.user-theme-2 #main-menu .mmc-dropdown-open-ul .mmc-title {
    background: #4d5e76;
    color: #fff;
}

.theme-default.user-theme-2 #main-menu .mmc-dropdown-open > a {
    background-color: #4d5e76 !important;
}

.theme-default.user-theme-2 #main-menu .menu-content.top {
    border-bottom: none;
}

/* estilo deshabilitado de textos */
.disable-textbox {
    background-color: #eee !important;
}

/* ESTILO DE BANDEJA DE NOTIFICACIONES */

.widget-notifications .notification {
    position: relative;
    padding: 7px 12px;
}

    .widget-notifications .notification + .notification {
        border-top: 1px solid #e4e4e4;
    }

.widget-notifications .notifications-list {
    overflow: hidden;
    position: relative;
}

.widget-notifications .notification-title,
.widget-notifications .notification-description,
.widget-notifications .notification-ago {
    display: block;
    margin-right: 30px;
}

.widget-notifications .notification-title {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 1px;
    color: #1471B9;
    display: inline-block;
}

.widget-notifications .notification-description {
    font-size: 14px;
    color: black !important;
}

.widget-notifications .notification-ago {
    font-size: 11px;
    font-style: italic;
    color: #666 !important;
    line-height: 18px !important;
}

.widget-notifications .notification-icon {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -13px 12px 0 0;
    font-size: 14px;
    color: #E66454;
}

.widget-notifications .notifications-link {
    text-align: center;
    padding: 8px 0 !important;
    border-top: 1px solid #e4e4e4;
    display: block;
    text-decoration: none !important;
    font-size: 10px;
    font-weight: 800;
    color: #999;
    line-height: 18px !important;
    height: auto !important;
}

.widget-notifications .notification:hover {
    background-image: -webkit-linear-gradient(top,#fff,#f5f5f5) !important;
}

.widget-notifications .notification-url {
    position: absolute;
    top: -1px;
    right: 0px;
    margin: 0;
    color: #1471B9;
}

#main-navbar #notificationInboxBtn {
    padding: 0;
}

#main-navbar #notificationsCount {
    padding: 0 3px;
    line-height: normal;
    right: 6px;
    top: 6px;
    font-size: 14px;
}

#main-navbar #notificationInboxBtn i {
    font-size: 25px;
    vertical-align: middle;
}
.SubPanel {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 20px;
    position: relative;
}


.SubPaneltab {
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 0 0 5px 0;
    color: white;
    display: inline-block;
    font: 14px Arial;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    background-color: #428bca;
}
.content {
    height: calc(100vh - 55px);
}
#loader {
    height: calc(100vh - 74px);
    width: calc(100vw - 262px);
}