<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  autoReload="true" internalLogLevel="Warn" 
	  throwExceptions="true" internalLogFile="\Usuarios\ricardo\tmp2\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|session: ${event-properties:item=SessionId}|traceId:${trace-id}" />
        <target xsi:type="Console" name="prueba" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|session: ${event-properties:item=SessionId}|traceId:${trace-id}" />
    </targets>

    <rules>

        <logger name="Microsoft.*" minlevel="Trace" writeTo="prueba" final="true" />
        <logger name="*" levels="Info,Warn,Error,Trace" writeTo="prueba" />
        <logger name="*" levels="Info,Warn,Error,Trace" writeTo="file" />

    </rules>
</nlog>