 <!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div data-scrollbar="true" data-height="100%" data-init="true" style="overflow: hidden; width: auto; height: 100%;">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <div class="image">
                        <a href="javascript:;">@*<img src="./Color Admin _ Dashboard_files/user-13.jpg" alt="">*@</a>
                    </div>
                    <div class="info">
                        Sean Ngu
                        <small>Front end developer</small>
                    </div>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            <ul class="nav">
                <li class="nav-header">Navigation</li>
                <li class="has-sub active">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-pulse-strong"></i>
                        <span>Dashboard</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="active"><a href="http://seantheme.com/color-admin-v3.0/admin/apple/index.html">Dashboard v1</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/index_v2.html">Dashboard v2</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <span class="badge pull-right">10</span>
                        <i class="ion-ios-email bg-blue"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/email_inbox.html">Inbox v1</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/email_inbox_v2.html">Inbox v2</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/email_compose.html">Compose</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/email_detail.html">Detail</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://seantheme.com/color-admin-v3.0/admin/apple/bootstrap_4.html">
                        <div class="icon-img">
                            <img src="http://seantheme.com/color-admin-v3.0/admin/apple/assets/img/bs4-logo.png" alt="">
                        </div>
                        <span>Bootstrap 4 <span class="label label-theme m-l-5">NEW</span></span>
                    </a>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-color-filter-outline bg-purple"></i>
                        <span>UI Elements <span class="label label-theme m-l-5">NEW</span></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_general.html">General</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_typography.html">Typography</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_tabs_accordions.html">Tabs &amp; Accordions</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_unlimited_tabs.html">Unlimited Nav Tabs</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_modal_notification.html">Modal &amp; Notification <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_widget_boxes.html">Widget Boxes</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_media_object.html">Media Object</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_buttons.html">Buttons</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_icons.html">Icons</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_simple_line_icons.html">Simple Line Icons</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_ionicons.html">Ionicons</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_tree.html">Tree View</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_language_bar_icon.html">Language Bar &amp; Icon</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_social_buttons.html">Social Buttons</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/ui_tour.html">Intro JS</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-briefcase-outline bg-gradient-purple"></i>
                        <span>Form Stuff <span class="label label-theme m-l-5">NEW</span></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_elements.html">Form Elements <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_plugins.html">Form Plugins <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_slider_switcher.html">Form Slider + Switcher</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_validation.html">Form Validation</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_wizards.html">Wizards</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_wizards_validation.html">Wizards + Validation</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_wysiwyg.html">WYSIWYG</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_editable.html">X-Editable</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_multiple_upload.html">Multiple File Upload</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_summernote.html">Summernote</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/form_dropzone.html">Dropzone</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-grid-view-outline bg-green"></i>
                        <span>Tables</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_basic.html">Basic Tables</a></li>
                        <li class="has-sub">
                            <a href="javascript:;"><b class="caret pull-right"></b> Managed Tables</a>
                            <ul class="sub-menu">
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage.html">Default</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_autofill.html">Autofill</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_buttons.html">Buttons</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_colreorder.html">ColReorder</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_fixed_columns.html">Fixed Column</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_fixed_header.html">Fixed Header</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_keytable.html">KeyTable</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_responsive.html">Responsive</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_rowreorder.html">RowReorder</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_scroller.html">Scroller</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_select.html">Select</a></li>
                                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/table_manage_combine.html">Extension Combination</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-stats-bars bg-gradient-orange"></i>
                        <span>Chart</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/chart-flot.html">Flot Chart</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/chart-morris.html">Morris Chart</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/chart-js.html">Chart JS</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/chart-d3.html">d3 Chart</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-infinite-outline bg-gradient-aqua"></i>
                        <span>Front End</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/frontend/one-page-parallax/index.html" target="_blank">One Page Parallax</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/frontend/blog/index.html" target="_blank">Blog</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/frontend/forum/index.html" target="_blank">Forum</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/frontend/e-commerce/index.html" target="_blank">E-Commerce</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-compose-outline bg-gradient-blue"></i>
                        <span>Email Template</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/email_system.html">System Template</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/email_newsletter.html">Newsletter Template</a></li>
                    </ul>
                </li>
                <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/calendar.html"><i class="ion-ios-calendar-outline bg-pink"></i> <span>Calendar</span></a></li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-location bg-pink"></i>
                        <span>Map</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/map_vector.html">Vector Map</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/map_google.html">Google Map</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-albums-outline"></i>
                        <span>Gallery</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/gallery.html">Gallery v1</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/gallery_v2.html">Gallery v2</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-gear-outline"></i>
                        <span>Page Options</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_blank.html">Blank Page</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_footer.html">Page with Footer</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_without_sidebar.html">Page without Sidebar</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_right_sidebar.html">Page with Right Sidebar</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_minified_sidebar.html">Page with Minified Sidebar</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_two_sidebar.html">Page with Two Sidebar</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_line_icons.html">Page with Line Icons</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_ionicons.html">Page with Ionicons</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_full_height.html">Full Height Content</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_wide_sidebar.html">Page with Wide Sidebar</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_light_sidebar.html">Page with Light Sidebar</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_mega_menu.html">Page with Mega Menu</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_top_menu.html">Page with Top Menu</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_boxed_layout.html">Page with Boxed Layout</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_mixed_menu.html">Page with Mixed Menu</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_boxed_layout_with_mixed_menu.html">Boxed Layout with Mixed Menu</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/page_with_transparent_sidebar.html">Page with Transparent Sidebar</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-heart-outline"></i>
                        <span>Extra</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/extra_timeline.html">Timeline</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/extra_coming_soon.html">Coming Soon Page</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/extra_search_results.html">Search Results</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/extra_invoice.html">Invoice</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/extra_404_error.html">404 Error Page</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/extra_profile.html">Profile Page</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-locked-outline"></i>
                        <span>Login &amp; Register</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/login.html">Login</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/login_v2.html">Login v2</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/login_v3.html">Login v3</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/register_v3.html">Register v3</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-flower-outline"></i>
                        <span>Version <span class="label label-theme m-l-5">NEW</span></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/html/index.html">HTML</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/ajax/index.html">AJAX</a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/angularjs/index.html">ANGULAR JS</a></li>
                        <li><a href="javascript:alert(&#39;Angular JS 4 Preview is not available.&#39;)">ANGULAR JS 4 <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/material/index.html">MATERIAL DESIGN</a></li>
                        <li><a href="javascript:;">APPLE DESIGN <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-medkit-outline"></i>
                        <span>Helper</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://seantheme.com/color-admin-v3.0/admin/apple/helper_css.html">Predefined CSS Classes</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="ion-ios-list"></i>
                        <span>Menu Level</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                Menu 1.1
                            </a>
                            <ul class="sub-menu">
                                <li class="has-sub">
                                    <a href="javascript:;">
                                        <b class="caret pull-right"></b>
                                        Menu 2.1
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="javascript:;">Menu 3.1</a></li>
                                        <li><a href="javascript:;">Menu 3.2</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:;">Menu 2.2</a></li>
                                <li><a href="javascript:;">Menu 2.3</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">Menu 1.2</a></li>
                        <li><a href="javascript:;">Menu 1.3</a></li>
                    </ul>
                </li>
                <!-- begin sidebar minify button -->
                <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-left"></i> <span>Collapse</span></a></li>
                <!-- end sidebar minify button -->
            </ul>
            <!-- end sidebar nav -->
        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 680.947px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->
