@{
    ViewBag.Title = "Registrar estado de afiliación";
}



<div id="InsEstadoAfiliacion">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">@ViewBag.Title</h4>
    </div>
    
        <div class="modal-body">
            
        </div>

        <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
            <input class="btn btn-primary" type="submit" value="Guardar" />
        </div>
    
</div>

